<p>pipes works!</p>

<br />

<app-async-pipe></app-async-pipe>
<hr />
<app-currency-pipe></app-currency-pipe>
<hr />
<app-date-pipe></app-date-pipe>
<hr />
<app-decimal-pipe></app-decimal-pipe>
<hr />
<app-json-pipe></app-json-pipe>
<hr />
<app-key-value-pipe></app-key-value-pipe>
<hr />
<app-lower-case-pipe></app-lower-case-pipe>
<hr />
<app-percent-pipe></app-percent-pipe>
<hr />
<app-slice-pipe></app-slice-pipe>
<hr />
<app-title-case-pipe></app-title-case-pipe>
<hr />
<app-upper-case-pipe></app-upper-case-pipe>
